<html>
<title>Violation report</title>
<body>
<h2>{{ report.title }}</h2>

<table>
    <caption>Found violations in:</caption>
    <tr>
        <td width="10%">Project:</td>
        <td width="10%">{{ statistics.project }}</td>
        <td width="80%">
            {% for id, link in links.project %}
                <div><a href="{{ link }}">{{ id }}</a></div>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td width="10%">Packages:</td>
        <td width="10%">{{ statistics.packages }}</td>
        <td width="80%">
            {% for id, link in links.packages %}
                <div><a href="{{ link }}">{{ id }}</a></div>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td width="10%">Files:</td>
        <td width="10%">{{ statistics.files }}</td>
        <td width="80%">
            {% for id, link in links.files %}
                <div><a href="{{ link }}">{{ id }}</a></div>
            {% endfor %}
        </td>
    </tr>
</table>

<br>
<hr>
<br>

{% for violation in violations %}
    <table>
            {% for key, value in violation %}
                <tr>
                    <td>{{ key }}</td>
                    {% if value is iterable %}
                        <td>
                            {% for key2, value2 in value %}
                                {{ key2 }}: {{ value2|string }}
                            {% endfor %}
                        </td>
                    {% else %}
                        <td>{{ value|string }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
    </table>
    <br><br>
{% endfor %}
<br><br>
</body>
</html>
